@layer components {
  .monogram {
    width: 100%;
    fill: var(--textTitle);
    transition: fill var(--durationL) ease;

    @media (--mediaMobile), (--mediaMobileLS) {
      max-width: 410px;
      height: auto;
    }
  }

  .cls1 {
    fill: #FF0800;
  }

  .cls1, .cls2, .cls3 {
    stroke-width: 0px;
  }

  .cls2 {
    fill: #F46600;
  }

  .cls3 {
    fill: #F46600;
  }


  .highlight {
    fill: var(--accent);
    opacity: 0;
    transform: scale3d(1, 0, 1);
    transform-origin: top;
    transition: opacity 0.1s ease var(--durationM);

    @media (--mediaUseMotion) {
      transition: transform var(--durationM) var(--bezierFastoutSlowin),
        opacity 0.1s ease var(--durationM);
    }

    :is(a:hover, .monogram:hover) & {
      opacity: 1;
      transform: scale3d(1, 1, 1);
      transform-origin: bottom;
      transition: opacity 0.1s ease;

      @media (--mediaUseMotion) {
        transition: transform var(--durationM) var(--bezierFastoutSlowin),
          opacity 0.1s ease;
      }
    }
  }
}
